@include /etc/smokeping/General
@include /etc/smokeping/Alerts
@include /etc/smokeping/Database
@include /etc/smokeping/Presentation
@include /etc/smokeping/Probes
@include /etc/smokeping/Slaves
@include /etc/smokeping/Targets
