{% for share in nfs.shares %}
{{ share.name }} {{share.client}}({% if share.rw is defined and share.rw %}rw{% else %}ro{% endif %},all_squash,anonuid={{ share.user }},anongid={{ share.group }}{{ ',subtree_check' if share.subtree_check is defined and share.subtree_check }},{% if share.force_async is defined and share.force_async %}async{% else %}sync{% endif %}{{ ',crossmnt' if share.crossmount is defined and share.crossmount }})
{% endfor %}
