<?xml version='1.0' encoding='utf-8'?>
<PluginPreferences>
  <collection_nfo>1</collection_nfo>
  <collection_poster>1</collection_poster>
{% if plex.master is defined and plex.master %}
  <metadata_source>2</metadata_source>
{% else %}
  <metadata_source/>
{% endif %}
  <artist_fanart/>
  <series_themes>1</series_themes>
  <album_fanart/>
  <collection_fanart>1</collection_fanart>
  <artist_poster>0</artist_poster>
  <movies_poster/>
  <season_banner>1</season_banner>
  <season_fanart>3</season_fanart>
  <collection_resume>1</collection_resume>
  <series_poster>2</series_poster>
  <reset_to_defaults>false</reset_to_defaults>
  <series_nfo>1</series_nfo>
  <movies_fanart>1</movies_fanart>
  <movies_nfo>1</movies_nfo>
  <artist_nfo/>
  <series_banner>1</series_banner>
  <episode_nfo>1</episode_nfo>
  <series_fanart>2</series_fanart>
  <collection_folder>1</collection_folder>
  <episode_thumbs>1</episode_thumbs>
  <album_nfo/>
  <album_poster/>
  <season_poster>1</season_poster>
</PluginPreferences>
